<div class="hd logodiv">
    <%- image_tag('https://count.getloli.com/get/@:name?theme=rule34',{class: 'logopng'}) %>
    <p class="logot">
        <span class="logo_1">&lt;</span>
        <span class="logo_2">/</span>
        <span class="logo_3">#</span>
        <a class="site-name" href="/"
           title="<%= theme.logo_title %>">
            <ruby>
                夏
                <rp>(</rp>
                <rt>X</rt>
                <rp>)</rp>
                小
                <rp>(</rp>
                <rt>X</rt>
                <rp>)</rp>
                正
                <rp>(</rp>
                <rt>Z</rt>
                <rp>)</rp>
                的
                <rp>(</rp>
                <rt>D</rt>
                <rp>)</rp>
                鲜
                <rp>(</rp>
                <rt>X</rt>
                <rp>)</rp>
                小
                <rp>(</rp>
                <rt>X</rt>
                <rp>)</rp>
                海
                <rp>(</rp>
                <rt>H</rt>
                <rp>)</rp>
            </ruby>
        </a>
        <span class="logo_3">#</span>
        <span class="logo_2">/</span>
        <span class="logo_1">&gt;</span>
    </p>
</div>
<%- partial('_partial/nav') %>
<div class="hd">
    <% var last; %>
    <% page.posts.each(function (post) { %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
    <div class="titlex">
        <p><span class="title-year">#</span>
            <%= year %>
        </p>
    </div>
    <% last = year; %>
    <% } %>
    <a class="flink"
       href="<%- url_for(post.path) %>">
        <div class="list">
            <div class="postname">
                <%= post.title %>
            </div>
            <div class="posttime">
                <%- full_date(post.date, 'MMMM Do') %>
            </div>
        </div>
    </a>
    <% }) %>
    <a class="more"
       href="/archives">More >></a>
</div>
